<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="keywords" content="Holiydays, Selfie, Foodies, Bogor, Devoyage Bogor, Deresto Coffee & Kitchen, Play Ground, Costume, Promo, Gallery of Devoyge Bogor">
  <meta name="description" content="Liburan di Bogor, Tempat nyaman, enak dan indah, Liburan terbaik di bogor, Kota Bogor, Devoyage Bogor, Deresto Coffee & Kitchen">
  <title>Home</title>
   <link rel="stylesheet" href="<?= base_url('assets/css/'); ?>nicepage.css" media="screen">
  <link rel="stylesheet" href="<?= base_url('assets/css/'); ?>Home.css" media="screen"> -->
  <link rel="stylesheet" href="<?= base_url('assets/css/'); ?>main.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <script class="u-script" type="text/javascript" src="<?= base_url('assets/js/'); ?>jquery.js" defer=""></script>
  <script class=" u-script" type="text/javascript" src="<?= base_url('assets/js/'); ?>nicepage.js" defer=""></script>
  <meta name="author" content="Devoyage Bogor">
  <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Lato:100,100i,300,300i,400,400i,700,700i,900,900i">
  <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto+Condensed:300,300i,400,400i,700,700i|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
  
  <meta name="theme-color" content="">
  <meta property="og:title" content="Home">
  <meta property="og:type" content="website">
  </head> 